.prism-container {
  position: relative;
}

.prism-container pre {
  border-radius: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.prism-container i {
  color: white;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px 12px;
  transition: all linear 0.15s;
}

.prism-container i:hover {
  background-color: rgb(51, 51, 51);
  border-radius: 5px;
}

.no-padding {
  padding: 0;
  margin: 0;
  height: 70px;
}

.prism-code {
  padding: 0;
  margin: 0;
}